    <!DOCTYPE html>
      <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title><title>
                {% block titulo %}
                    Inicio
                {% endblock  %}
        
            </title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="">
        </head>
        <body>
            <ul>
                <li><a href={% url 'index' %}>Inicio</a></li>
                <li><a href={% url 'usuariosHome' %}>Usuarios</a></li>
                <li>Catálogos</li>
               
            </ul>
        
            {% block contenido %}
                <h1>Estás en el menú principal</H1>
            {% endblock  %}
        </body>
    </html>